/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Indie Flower', cursive;
}
p {
  line-height: 1.8;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header nav {
  padding: 5px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
}
header nav .line {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
header nav .navele {
  color: grey;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  font-size: 1.2rem;
}
header nav .navele .navele home {
  font-weight: bold;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
.title-container {
  background: url(../assets/replate11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  width: 100%;
  height: 70vh;
  padding: 10px 0 20px;
  display: flex;
  justify-content: flex-end;
}
.title-container div {
  height: 10vh;
}
.title-container div p {
  padding: 10px 10px;
  color: black;
  background-color: white;
  font-size: 1.2rem;
  margin-right: 20px;
}
#container {
  padding: 0 20px;
}
#container h2 {
  font-size: 3rem;
}
#container #custom-btn {
  display: block;
  background-color: black;
  margin: 40px 10px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}
#container #custom-btn:hover {
  background-color: white;
  color: black;
}
hr {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 1px dashed black;
}
.container1 {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
}
.container1 .pros-cons {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-content: center;
  margin: 20px 0;
}
.container1 .pros-cons .uses h3 {
  font-size: 1.4rem;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.container1 .pros-cons .uses h4 {
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.container1 .pros-cons .uses p {
  text-align: justify;
  width: 100%;
  font-size: 1rem;
  padding: 20px;
}
.container1 .pros-cons img {
  width: 70%;
  margin: 0 auto;
}
.container1 .pros-cons a {
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 30px 0;
  color: #000;
}
.container1 .pros-cons .pros-cons {
  justify-content: center;
  display: flex;
  align-content: center;
  text-align: justify;
  padding: 10px 5%;
  color: #663399;
}
@media ( max-width: 500px ) {
  .container1 {
    flex-direction: column;
    display: flex;
    align-content: center;
  }
  .container1 .pros-cons {
    width: 80%;
    margin: 8% auto;
    text-align: center;
  }
}
footer {
  background-color: white;
  padding: 5% 40%;
  text-align: center;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
footer:hover {
  background-color: black;
  color: red;
}
body {
  background-color: white;
}
